In [17]:
import pandas as pd
import matplotlib.pyplot as plt

df = pd.read_csv("/Users/jesusfong/itd2024/data/raw/Pokemon.csv")
df.head()

,#,Name,Type 1,Type 2,Total,HP,Attack,Defense,Sp. Atk,Sp. Def,Speed,Generation,Legendary
0,1,Bulbasaur,Grass,Poison,318,45,49,49,65,65,45,1,False
1,2,Ivysaur,Grass,Poison,405,60,62,63,80,80,60,1,False
2,3,Venusaur,Grass,Poison,525,80,82,83,100,100,80,1,False
3,3,VenusaurMega Venusaur,Grass,Poison,625,80,100,123,122,120,80,1,False
4,4,Charmander,Fire,NaN,309,39,52,43,60,50,65,1,False

In [18]:
df.isnull().sum()

#               0
Name            0
Type 1          0
Type 2        386
Total           0
HP              0
Attack          0
Defense         0
Sp. Atk         0
Sp. Def         0
Speed           0
Generation      0
Legendary       0
dtype: int64

In [19]:
df[['HP', 'Attack', 'Defense', 'Sp. Atk', 'Sp. Def', 'Speed']]

     HP  Attack  Defense  Sp. Atk  Sp. Def  Speed
0    45      49       49       65       65     45
1    60      62       63       80       80     60
2    80      82       83      100      100     80
3    80     100      123      122      120     80
4    39      52       43       60       50     65
..   ..     ...      ...      ...      ...    ...
795  50     100      150      100      150     50
796  50     160      110      160      110    110
797  80     110       60      150      130     70
798  80     160       60      170      130     80
799  80     110      120      130       90     70

[800 rows x 6 columns]

In [20]:
df['Total_Stats'] = df[['HP', 'Attack', 'Defense', 'Sp. Atk', 'Sp. Def', 'Speed']].sum(axis=1)

In [21]:
df['Total_Stats']

0      318
1      405
2      525
3      625
4      309
      ...
795    600
796    700
797    600
798    680
799    600
Name: Total_Stats, Length: 800, dtype: int64

In [22]:
df['Total_Stats'] = ...

In [29]:
import pandas as pd
import numpy as np

# Load the dataset
df = pd.read_csv("/Users/jesusfong/itd2024/data/raw/Pokemon.csv")

# Prompt user to pick their Pokémon
print("Choose your Pokémon:")
print(df['Name'])

user_pokemon = input("Enter the name of your Pokémon: ")

# Select a random opponent
opponent_pokemon = np.random.choice(df['Name'])

# Get the data for user's Pokémon and opponent
user_data = df[df['Name'] == user_pokemon].iloc[0]
opponent_data = df[df['Name'] == opponent_pokemon].iloc[0]

# Determine the winner
if user_data['Total'] > opponent_data['Total']:
    winner = user_pokemon
elif user_data['Total'] < opponent_data['Total']:
    winner = opponent_pokemon
else:
    winner = "It's a tie!"

# Display results
print("Your Pokémon:", user_pokemon)
print("Opponent Pokémon:", opponent_pokemon)
print("Winner:", winner)

Choose your Pokémon:
0                  Bulbasaur
1                    Ivysaur
2                   Venusaur
3      VenusaurMega Venusaur
4                 Charmander
               ...
795                  Diancie
796      DiancieMega Diancie
797      HoopaHoopa Confined
798       HoopaHoopa Unbound
799                Volcanion
Name: Name, Length: 800, dtype: object
Your Pokémon: Pikachu
Opponent Pokémon: Cherubi
Winner: Pikachu

In [41]:
import pandas as pd
from sklearn.ensemble import RandomForestClassifier

# Load the dataset
df = pd.read_csv("/Users/jesusfong/itd2024/data/raw/Pokemon.csv")

# Prompt the user to choose their Pokémon
print("Choose your Pokémon:")
print(df['Name'])

user_pokemon_name = input("Enter the name of your Pokémon: ")

# Find the user's Pokémon in the dataset
user_pokemon = df[df['Name'] == user_pokemon_name]

if user_pokemon.empty:
    print("Sorry, that Pokémon is not found in the dataset.")
else:
    # Select a random opponent Pokémon
    opponent_pokemon = df.sample(n=1)

    # Get the stats of user's and opponent's Pokémon
    user_pokemon_stats = user_pokemon[['HP', 'Attack', 'Defense', 'Sp. Atk', 'Sp. Def', 'Speed']].values[0]
    opponent_pokemon_stats = opponent_pokemon[['HP', 'Attack', 'Defense', 'Sp. Atk', 'Sp. Def', 'Speed']].values[0]

    # Calculate the total stats for each Pokémon
    user_total_stats = sum(user_pokemon_stats)
    opponent_total_stats = sum(opponent_pokemon_stats)

    # Determine the winner based on total stats
    if user_total_stats > opponent_total_stats:
        winner = user_pokemon_name
    elif user_total_stats < opponent_total_stats:
        winner = opponent_pokemon['Name'].values[0]
    else:
        winner = "It's a tie!"

    # Display the results
    print("Your Pokémon:", user_pokemon_name)
    print("Opponent Pokémon:", opponent_pokemon['Name'].values[0])
    print("Predicted Winner:", winner)

Choose your Pokémon:
0                  Bulbasaur
1                    Ivysaur
2                   Venusaur
3      VenusaurMega Venusaur
4                 Charmander
               ...
795                  Diancie
796      DiancieMega Diancie
797      HoopaHoopa Confined
798       HoopaHoopa Unbound
799                Volcanion
Name: Name, Length: 800, dtype: object
Your Pokémon: Bulbasaur
Opponent Pokémon: Psyduck
Predicted Winner: Psyduck

In [31]:
pip install scikit-learn

Collecting scikit-learn
  Downloading scikit_learn-1.5.0-cp310-cp310-macosx_10_9_x86_64.whl.metadata (11 kB)
Requirement already satisfied: numpy>=1.19.5 in /opt/anaconda3/envs/itd2024/lib/python3.10/site-packages (from scikit-learn) (1.26.4)
Collecting scipy>=1.6.0 (from scikit-learn)
  Downloading scipy-1.13.1-cp310-cp310-macosx_10_9_x86_64.whl.metadata (60 kB)
     ━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━ 60.6/60.6 kB 1.1 MB/s eta 0:00:00a 0:00:01
Collecting joblib>=1.2.0 (from scikit-learn)
  Downloading joblib-1.4.2-py3-none-any.whl.metadata (5.4 kB)
Collecting threadpoolctl>=3.1.0 (from scikit-learn)
  Downloading threadpoolctl-3.5.0-py3-none-any.whl.metadata (13 kB)
Downloading scikit_learn-1.5.0-cp310-cp310-macosx_10_9_x86_64.whl (12.1 MB)
   ━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━ 12.1/12.1 MB 4.9 MB/s eta 0:00:0000:0100:01
Downloading joblib-1.4.2-py3-none-any.whl (301 kB)
   ━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━ 301.8/301.8 kB 3.5 MB/s eta 0:00:0000:0100:01
Downloading scipy-1.13.1-cp310-cp310-macosx_10_9_x86_64.whl (39.3 MB)
   ━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━ 39.3/39.3 MB 5.5 MB/s eta 0:00:0000:0100:01
Downloading threadpoolctl-3.5.0-py3-none-any.whl (18 kB)
Installing collected packages: threadpoolctl, scipy, joblib, scikit-learn
Successfully installed joblib-1.4.2 scikit-learn-1.5.0 scipy-1.13.1 threadpoolctl-3.5.0
Note: you may need to restart the kernel to use updated packages.