In [17]:
import pandas as pd
import matplotlib.pyplot as plt

df = pd.read_csv("/Users/jesusfong/itd2024/data/raw/Pokemon.csv")
df.head()

,#,Name,Type 1,Type 2,Total,HP,Attack,Defense,Sp. Atk,Sp. Def,Speed,Generation,Legendary
0,1,Bulbasaur,Grass,Poison,318,45,49,49,65,65,45,1,False
1,2,Ivysaur,Grass,Poison,405,60,62,63,80,80,60,1,False
2,3,Venusaur,Grass,Poison,525,80,82,83,100,100,80,1,False
3,3,VenusaurMega Venusaur,Grass,Poison,625,80,100,123,122,120,80,1,False
4,4,Charmander,Fire,NaN,309,39,52,43,60,50,65,1,False

In [18]:
df.isnull().sum()

#               0
Name            0
Type 1          0
Type 2        386
Total           0
HP              0
Attack          0
Defense         0
Sp. Atk         0
Sp. Def         0
Speed           0
Generation      0
Legendary       0
dtype: int64

In [19]:
df[['HP', 'Attack', 'Defense', 'Sp. Atk', 'Sp. Def', 'Speed']]

     HP  Attack  Defense  Sp. Atk  Sp. Def  Speed
0    45      49       49       65       65     45
1    60      62       63       80       80     60
2    80      82       83      100      100     80
3    80     100      123      122      120     80
4    39      52       43       60       50     65
..   ..     ...      ...      ...      ...    ...
795  50     100      150      100      150     50
796  50     160      110      160      110    110
797  80     110       60      150      130     70
798  80     160       60      170      130     80
799  80     110      120      130       90     70

[800 rows x 6 columns]

In [20]:
df['Total_Stats'] = df[['HP', 'Attack', 'Defense', 'Sp. Atk', 'Sp. Def', 'Speed']].sum(axis=1)

In [21]:
df['Total_Stats']

0      318
1      405
2      525
3      625
4      309
      ...
795    600
796    700
797    600
798    680
799    600
Name: Total_Stats, Length: 800, dtype: int64

In [22]:
df['Total_Stats'] = ...

In [29]:
import pandas as pd
import numpy as np

# Load the dataset
df = pd.read_csv("/Users/jesusfong/itd2024/data/raw/Pokemon.csv")

# Prompt user to pick their Pokémon
print("Choose your Pokémon:")
print(df['Name'])

user_pokemon = input("Enter the name of your Pokémon: ")

# Select a random opponent
opponent_pokemon = np.random.choice(df['Name'])

# Get the data for user's Pokémon and opponent
user_data = df[df['Name'] == user_pokemon].iloc[0]
opponent_data = df[df['Name'] == opponent_pokemon].iloc[0]

# Determine the winner
if user_data['Total'] > opponent_data['Total']:
    winner = user_pokemon
elif user_data['Total'] < opponent_data['Total']:
    winner = opponent_pokemon
else:
    winner = "It's a tie!"

# Display results
print("Your Pokémon:", user_pokemon)
print("Opponent Pokémon:", opponent_pokemon)
print("Winner:", winner)

Choose your Pokémon:
0                  Bulbasaur
1                    Ivysaur
2                   Venusaur
3      VenusaurMega Venusaur
4                 Charmander
               ...
795                  Diancie
796      DiancieMega Diancie
797      HoopaHoopa Confined
798       HoopaHoopa Unbound
799                Volcanion
Name: Name, Length: 800, dtype: object
Your Pokémon: Pikachu
Opponent Pokémon: Cherubi
Winner: Pikachu

In [58]:
import pandas as pd
from sklearn.ensemble import RandomForestClassifier
from sklearn.model_selection import train_test_split
import joblib

# Load the dataset
df = pd.read_csv("/Users/jesusfong/itd2024/data/raw/Pokemon.csv")

# Ensure the column names are exactly as expected
expected_columns = ['HP', 'Attack', 'Defense', 'Sp. Atk', 'Sp. Def', 'Speed']
for col in expected_columns:
    if col not in df.columns:
        raise ValueError(f"Column '{col}' not found in the dataset.")

# Separate features (X)
X = df[['HP', 'Attack', 'Defense', 'Sp. Atk', 'Sp. Def', 'Speed']]

# Create a target column indicating the winner based on stats
# Here, we can simply use a heuristic to determine the winner based on stats comparison
X['Winner'] = (X.iloc[:, :6].sum(axis=1) > X.iloc[:, :6].sum(axis=1).shift()).astype(int)

# Drop the 'Winner' column from X and assign it to y
y = X.pop('Winner')

# Train-test split
X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=0.2, random_state=42)

# Initialize and train RandomForestClassifier
rf_classifier = RandomForestClassifier(random_state=42)
rf_classifier.fit(X_train, y_train)

# Evaluate model
train_accuracy = rf_classifier.score(X_train, y_train)
test_accuracy = rf_classifier.score(X_test, y_test)

print(f"Training Accuracy: {train_accuracy:.2f}")
print(f"Testing Accuracy: {test_accuracy:.2f}")

# Save the model
model_path = "/Users/jesusfong/itd2024/notebooks/pokemon_rf_model.pkl"
joblib.dump(rf_classifier, model_path)

Training Accuracy: 0.99
Testing Accuracy: 0.69

/var/folders/9l/zyvlc3jd5b59zz24xv3klx3w0000gn/T/ipykernel_57013/2926865928.py:20: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  X['Winner'] = (X.iloc[:, :6].sum(axis=1) > X.iloc[:, :6].sum(axis=1).shift()).astype(int)

['/Users/jesusfong/itd2024/notebooks/pokemon_rf_model.pkl']

In [31]:
pip install scikit-learn

Collecting scikit-learn
  Downloading scikit_learn-1.5.0-cp310-cp310-macosx_10_9_x86_64.whl.metadata (11 kB)
Requirement already satisfied: numpy>=1.19.5 in /opt/anaconda3/envs/itd2024/lib/python3.10/site-packages (from scikit-learn) (1.26.4)
Collecting scipy>=1.6.0 (from scikit-learn)
  Downloading scipy-1.13.1-cp310-cp310-macosx_10_9_x86_64.whl.metadata (60 kB)
     ━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━ 60.6/60.6 kB 1.1 MB/s eta 0:00:00a 0:00:01
Collecting joblib>=1.2.0 (from scikit-learn)
  Downloading joblib-1.4.2-py3-none-any.whl.metadata (5.4 kB)
Collecting threadpoolctl>=3.1.0 (from scikit-learn)
  Downloading threadpoolctl-3.5.0-py3-none-any.whl.metadata (13 kB)
Downloading scikit_learn-1.5.0-cp310-cp310-macosx_10_9_x86_64.whl (12.1 MB)
   ━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━ 12.1/12.1 MB 4.9 MB/s eta 0:00:0000:0100:01
Downloading joblib-1.4.2-py3-none-any.whl (301 kB)
   ━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━ 301.8/301.8 kB 3.5 MB/s eta 0:00:0000:0100:01
Downloading scipy-1.13.1-cp310-cp310-macosx_10_9_x86_64.whl (39.3 MB)
   ━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━ 39.3/39.3 MB 5.5 MB/s eta 0:00:0000:0100:01
Downloading threadpoolctl-3.5.0-py3-none-any.whl (18 kB)
Installing collected packages: threadpoolctl, scipy, joblib, scikit-learn
Successfully installed joblib-1.4.2 scikit-learn-1.5.0 scipy-1.13.1 threadpoolctl-3.5.0
Note: you may need to restart the kernel to use updated packages.

In [42]:
model.score